<!--
<form>
  <input type=number name="no1" [(ngModel)]="no1">
  <input type=number name="no2" [(ngModel)]="no2">
  <input type=number name="answer" [(ngModel)]="answer">
  <input tyep="button"value="addition" (click)="add()">
  <input tyep="button"value="substraction" (click)="substract()">

</form>
-->
<nav>
  
<a href="login" >Login</a>
<a href="register" >Register</a>
<a href="comboboxex"style="margin: left 50px;">Combobox</a>
<a href="admin" >Admin</a>
</nav>

<router-outlet></router-outlet>